<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "mx.cenet.HotelPruebaApp"
        version     = "1.0.0"
        versionCode = "1" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="cli-6.5.0" />

        <name>App Hotel</name>

        <description>
            Aplicación Para Hoteles
        </description>

        <author href="#" email="memphismx@hotmail.com">
            Rigoberto Rodriguez
        </author>
        
        <splash src="img/splash.png" />
        
    </widget>
